@import "../../../theme/colors.scss";

.sidebar__header {
  height: 20vw;
  display: flex;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid $grey;

  .logo__container {
    width: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;

    .menu-logo {
      font-size: 25px;
      color: $blue;
    }
    .logo-name {
      font-size: 20px;
    }
  }
}

.sidebar-menu__wrapper {
  .sidebar-menu {
    width: 75vw;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: $white;
    z-index: 1200;
    transition: all 0.3s ease 0s;

    .header-menu {
      height: 20vw;
      display: flex;
      align-items: center;
      justify-content: left;
      border-bottom: 1px solid $grey;

      .close-logo {
        color: $blue;
        font-size: 25px;
        margin-left: 15px;
      }
    }

    .menu-body {
      .menu-item {
        margin-left: 20px;
        height: 54px;
        line-height: 54px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 20px;
          .logo {
            margin-right: 25px;
            color: $darkGrey;
          }

          .item-name {
            display: block;
          }
        }

        .item-arrow {
          margin-right: 20px;

          .arrow-logo {
            color: $blue;
          }
        }
      }
    }

    .footer {
      height: 10vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: left;
      border-top: 1px solid $grey;
      position: absolute;
      bottom: 0;

      .user__container {
        margin-left: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        .user-img {
          font-size: 50px;
          color: $darkGrey;
        }
        .username {
          font-size: 20px;
          margin-left: 5px;
        }
      }
    }
  }
}

@media screen and (min-width: 415px) {
  .sidebar__header {
    display: none;

    .logo__container {
      .menu-logo {
      }
      .logo-name {
      }
    }
  }

  .sidebar-menu__wrapper {
    .sidebar-menu {
      .header-menu {
        .close-logo {
        }
      }

      .menu-body {
        .menu-item {
          .item {
            .logo {
            }

            .item-name {
            }
          }

          .item-arrow {
            .arrow-logo {
            }
          }
        }
      }

      .footer {
        .user__container {
          .user-img {
          }
          .username {
          }
        }
      }
    }
  }
}
