@import "../../../theme/colors.scss";

.clients-table {
  display: table;
  border-collapse: collapse;
  width: 100%;

  .table-header {
    border-bottom: 1px solid rgb(228, 223, 223);

    .header-item {
      font-weight: 400;
      line-height: 17px;
      font-size: 12px;
      color: rgb(100, 100, 100, 0.5);
      padding: 15px 0 15px 0;
      cursor: pointer;
      user-select: none;
      text-overflow: ellipsis;
      transition: none;
      white-space: nowrap;

      &:hover {
        background-color: rgba(137, 196, 244, 0.2);
      }

      &:first-child {
        margin-left: 25px;
      }
      &:last-child {
        margin-right: 25px;
      }
    }
  }
}

.empty {
  width: 450px;
  height: 100%;
  margin: 15% auto;
  text-align: center;

  .title {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .message {
    color: $darkGrey;
  }
}
