@import "../../theme/colors.scss";

body {
  background-color: $grey;

  .auth__container {
    background-color: $white;
    border-radius: 6px;
    box-shadow: 0 1px 1px $shadow;
    max-width: 90vw;
    margin: 8%;

    label {
      font-weight: 600;
      display: block;
      margin-bottom: 6px;
    }

    .auth-image {
      width: 100%;
      border-radius: 6px 6px 0 0;
      cursor: pointer;
    }
    .auth-form-container {
      padding: 8% 10% 0 10%;

      .form-title {
        font-size: 1.4em;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .login-input {
        margin-bottom: 20px;
        line-height: 30px;
        width: 100%;
        border: 1px solid #d8d8d8d8;
        border-radius: 3px;
        padding: 0 10px 0 10px;
      }
      .password-input {
        margin-bottom: 15px;
        line-height: 30px;
        width: 100%;
        border: 1px solid #d8d8d8d8;
        border-radius: 3px;
        padding: 0 10px 0 10px;
      }

      .another-pc__container {
        .another-pc-checkbox {
          margin-right: 5px;
        }
        .another-pc-link {
          text-decoration: none;
          color: black;
        }
      }

      .submit__container {
        padding-bottom: 25px;
        margin-top: 8%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .submit-btn {
          padding: 10px 20px 10px 20px;
          border: none;
          border-radius: 3px;
          font-size: 1.1em;
          color: $white;
          background-color: $green;
          margin-right: 40px;
          cursor: pointer;
        }
        .forgot-password {
          font-size: 0.8em;
          text-decoration: none;
          color: $blue;
        }
      }
    }
  }
  .footer {
    margin: 20% 8% 10% 8%;
    display: flex;
    justify-content: space-between;

    .poster {
      color: #9b9b9e;
    }
    .support {
      color: #9b9b9e;
    }
  }
}

@media screen and (min-width: 900px) {
  body {
    .auth__container {
      display: flex;

      .auth-image {
        width: 50%;
        border-radius: 6px 0 0 6px;
      }

      .auth-form-container {
        padding: 0;
        margin: auto;

        .form-title {
          font-size: 1.4em;
          font-weight: bold;
          margin: 50px 0 30px 0;
        }
      }
    }
  }
}
